body{
    background-color: #e2e4e5;
    text-align: center  ;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    text-align: center;
    background-color: #eceff1;
    text-shadow: 2px 2px 2px red;
    padding: 5px;
}
figure{
    display: inline-block;
    padding: 1em;
    border-radius: 5px;
    
}

figcaption {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 1.5em;

 }
 figure:hover{
    background-color: #eceff1;
    color: red;
    cursor: pointer;
    
    
 }